include README.rst
include README.md
recursive-include geonode_custom_theme/static *
recursive-include geonode_custom_theme/templates *
recursive-include geonode_custom_theme/locale *
recursive-include geonode_custom_theme/migrations *
